body {

	padding: 0;
	margin: 0;
	height: 100vh;
	font-family: monospace, monospace;
	touch-action: none;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: transparent;

}

.header {

	position: fixed;
	top: 0px;
	width: 100%;
	height: 32px;

	z-index: 1000;

	display: flex;
	align-items: center;

	color: #888888;
	background-color: #efefef;

	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

}

.content {

	width: 100%;
	box-sizing: border-box;
	max-width: 900px;
	margin: 0 auto;
	padding: 32px 8px 8px 8px;

}

.space {

	flex: auto;

}

.snippet-title {

	margin-left: 2px;
	color: #000000;
	font-size: 23px;
	background: none;
	border: none;
	font-family: inherit;
	outline: none;

}

.snippet-title:focus {


}

.snippet-title::after {

	content: "snippet";

}

.snippet-tools {

	display: flex;

}

.snippet-tools div {

	cursor: pointer;
	margin-right: 8px;

}

.snippet-save::after {

	content: "save";

}

.snippet-save.saved::after {

	color: #00FF00;

}

.snippet-copy::after {

	content: "copy";

}

.snippet-copy.copied::after {

	color: #00FF00;

}

.snippet-wrap {

	margin-top: 10px;

}

.code-wrap {

	margin-top: 1em;

}

/* set code max height */
.prism-live {

	/* max-height: 400px; */

}

pre.prism-live {

    /* padding-bottom: 0.2em; */
	padding-right: 0.5em;

}

textarea.prism-live {

	overflow-y: hidden;

}

/* hide snipp.et link */
.snip span a {

	display: none;

}

/* menu */

.menu {

	position: fixed;
	top: 0;
	left: 0;
	max-width: 100%;
	height: 100%;
	padding-top: 32px;
	z-index: 10;
	white-space: nowrap;
	box-sizing: border-box;

}

.menubtn.collapse::after {

	content: "☰";
	font-size: 24px;

}

.menubtn:not(.collapse)::after {

	content: "×";
	font-size: 40px;
    line-height: 30px;

}

.menubtn {

	width: 32px;
	height: 32px;
	overflow: hidden;
	color: #000000;
	text-align: center;
	cursor: pointer;
	color: #888888;

}

.menu a {
		
	color: #888888;

}

.menuwrap {

	width: 100%;
	height: 100%;
	overflow-y: auto;
	background-color: #FFFFFF;

}

.menulist {

	list-style-type: none;
	margin: 0px;
	padding: 8px;
	min-width: 200px;

}

.menulist a {

	text-decoration: none;
	line-height: 30px;
	font-size: 20px;

}

.menu .collapse {

	width: 0px;

}

.menu:not(.collapse) {

	-webkit-box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.2);
	box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.2);

}

.menu .hide {

	display: none;

}

@media (prefers-color-scheme: dark) {

	body {

		background-color: #000000;
		color: #888888;

	}

	.header-content {
	
		color: #AAAAAA;
		background-color: #444444;
		/*line-height: 45px;*/
		
		-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.35);
		-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.35);
		box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.35);
		
	}

}