body {

	padding: 0;
	margin: 0;
	height: 100vh;
	font-family: monospace, monospace;
	touch-action: none;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: transparent;

}

.header {

	position: fixed;
	top: 0px;
	width: 100%;
	height: 40px;

	z-index: 1000;

	display: flex;
	align-items: center;

	color: #888888;
	background-color: #efefef;

	-webkit-user-select: none;
	user-select: none;

}

.content {

	width: 100%;
	box-sizing: border-box;
	max-width: 900px;
	margin: 0 auto;
	padding: 40px 8px 18px 8px;

}

.space {

	flex: auto;

}

.title {

	max-width: 50%;
	margin-left: 2px;
	color: #888888;
	font-size: 23px;
	background: none;
	border: none;
	font-family: inherit;
	outline: none;

}

.title:focus {


}

.title::after {

	content: "snippet";

}

.header > div:not(.space), .menutools > div {

	cursor: pointer;
	margin-right: 8px;
	width: 32px;
    height: 32px;
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: 50% 50%;
	background: #888888;

}

.menutools {

	height: 40px;
	margin-top: 8px;
	margin-left: 8px;
	display: flex;
	align-items: center;

}

.create {

	mask: url('../etc/create.svg');

}

.about {

	mask: url('../etc/about.svg');

}

.save {

	mask: url('../etc/save.svg');

}

.copy {

	mask: url('../etc/copy.svg');

}

.yes {

	background: #00a300 !important;

}

.wrap {

	margin-top: 10px;

}

.code {

	margin-top: 1em;

}

/* set code max height */
.prism-live {

	/* max-height: 400px; */

}

pre.prism-live {

    /* padding-bottom: 0.2em; */
	padding-right: 0.5em;

}

textarea.prism-live {

	overflow-y: hidden;

}

/* hide snipp.et link */
.snip span a {

	display: none;

}

/* snippet options */
.opts {

	margin-top: 1em;
	margin-bottom: 1em;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: #888888;
	
}

.opt {

	cursor: pointer;

}

.opt.on {

	text-decoration: underline;

}

.opt.body::after {

	content: 'body';

}

.opt.console::after {

	content: 'console';

}

/* menu */

.menu {

	position: fixed;
	top: 0;
	left: 0;
	max-width: 100%;
	height: 100%;
	padding-top: 40px;
	z-index: 10;
	white-space: nowrap;
	box-sizing: border-box;
	color: #888888;
	-webkit-user-select: none;
	user-select: none;

}

.menubtn {

	margin-left: 8px;
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: 50% 50%;
	background: #888888;

}

.menubtn.collapse {

	mask: url('../etc/menu.svg');

}

.menubtn:not(.collapse) {

	mask: url('../etc/close.svg');

}

.menuwrap {

	width: 100%;
	height: 100%;
	overflow-y: auto;
	background-color: #efefef;

}

.menulist {

	list-style-type: none;
	margin: 0px;
	padding: 8px;
	min-width: 130px;

}

.menulist a {

	text-decoration: none;
	line-height: 30px;
	font-size: 20px;
	color: #888888;

}

.menu .collapse {

	width: 0px;

}

.menu .hide {

	display: none;

}

/* SCROLL BARS */

::-webkit-scrollbar {

	width: 6px;
	height: 6px;
	background-color: #e8e8e8;

}

::-webkit-scrollbar-thumb {

	width: 4px;
	height: 4px;
	background-color: #b8b8b8;

}

::-webkit-scrollbar-button {

	display: none;
	width: 0;
	height: 0;

}

::-webkit-scrollbar-corner {

	background-color: transparent;

}

@media (prefers-color-scheme: dark) {

	body {

		background-color: #171717;

	}

	.header {

		background-color: #202020;

	}

	.menuwrap {

		background-color: #202020;
	
	}

	::-webkit-scrollbar {

		background-color: #222222;
	
	}
	
	::-webkit-scrollbar-thumb {
	
		background-color: #444444;
	
	}

}