:root {

	--font: 'Courier New', Courier, monospace;

	--head: 36px;

	--back: #e8e8e8;
	--over: #EFEFEF;
	--text: #777777;

	--shad: 0px 1px 1px 0px;
	--adow: rgba(0, 0, 0, 0.1);

	--mask: rgba(232, 232, 232, 0.55);

}

@media (prefers-color-scheme: dark) {

	:root {
	
		--back: #171717;
		--over: #202020;
		--text: #999999;

		--shad: 0px 1px 1px 0px;
		--adow: rgba(0, 0, 0, 0.16);

		--mask: rgba(0, 0, 0, 0.55);
	
	}

}

html {

	height: 100%;

	/* both html and body */
	touch-action: pan-y;

}

body {

	width: 100%;

	padding: 0;
	margin: 0;

	overflow-y: scroll;

	/* both html and body */
	touch-action: pan-y;

	/* kill chromium based history gestures */
	overscroll-behavior-x: none;

	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	text-size-adjust: none;

	font-family: var(--font);

	color: var(--text);
	background-color: var(--back);

}

/* GLOBAL */

.stand {

	padding-bottom: 2.2em;

}

.hide {

	display: none;

}

.spc {

	/* flex: 1; */
	/* height: 100%; */
	/* flex-basis: 10%; */
	flex-grow: 1;

}

/* HEADER */

.header {

	position: fixed;
	box-sizing: border-box;
	top: 0px;
	width: 100%;
	height: var(--head);

	z-index: 50;

	display: flex;
	align-items: center;

	padding-left: 2px;
	padding-right: 8px;
	/* gap: 6px; */

	color: var(--text);
	background-color: var(--over);

	font-size: 22px;

	-webkit-user-select: none;
	user-select: none;

	-webkit-box-shadow: var(--shad) var(--adow);
	-moz-box-shadow: var(--shad) var(--adow);
	box-shadow: var(--shad) var(--adow);

}

.header .nnm {

	padding-left: 4px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;

}

.header .cmd {

	margin-left: 8px;

}

/*.header > div:not(.spc), 
.menutools > div {

	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	user-select: none;

}*/

.menutools {

	height: var(--head);
	width: 100%;
	max-width: 480px;
	box-sizing: border-box;
	padding-right: 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.new::after {

	content: "new";
	
}

.abt::after {

	content: "about";
	
}

.sav::after {

	content: "save";
	
}

.snd::after {

	content: "share";
	
}

.open::after {

	content: "open";

}

.dmp::after {

	content: "dump";

}

.imp::after {

	content: "load";

}

.menulook {

	box-sizing: border-box;
	padding-left: 8px;
	margin-top: 4px;
	margin-bottom: 8px;
	font-size: 23px;
	background: none;
	border: none;
	font-family: inherit;
	outline: none;
	min-width: 0;
	color: var(--text);
	caret-color: var(--text);

}

.menulook::placeholder {

	opacity: 0.6;

}

.yes {

	color: #017e01 !important;

}

.no {

	color: #c51c1c !important;

}

/* MAIN CONTENT */

.content {

	width: 100%;
	box-sizing: border-box;
	max-width: 900px;
	margin: 0 auto;
	padding: var(--head) 6px 18px 6px;

}

/* SNIPPET WRAPPER */

.wrap {

	padding-top: 1em;
	/* padding-bottom: 1em; */

}

/* PIN SNIPPET */

.wrap.stick {

	position: sticky;
	top: var(--head);
	z-index: 2;
	background-color: var(--back);

}

.pin::after {

	content: "pin";

}

.wrap.stick .snip + .cmds .pin::after {

	content: "unpin";

}

/* LANGUAGE WRAP */

.lwrap {

}

/* LANGUAGE CODE BLOCS WRAP */

.lcode {

}

/* LANGUAGE TOOLBAR */

.ltool {

}

.ltool > div {

}

.bloc {

	margin-top: 1.2em;
	
}

/* CODE BLOCK HEADER */

.chead {

	display: flex;
	justify-content: space-between;

}

.bloc.clps .chead {

	background-color: var(--over);

}

.chead > div {

	padding: 4px;
	flex-basis: 100%;
	display: flex;
	justify-content: center;

}

.chead > div:first-child {

	justify-content: start;

}

.bloc.clps .chead > div:first-child .cmd {

	width: 100%;
	text-align: center;
	font-size: 1.27em;
    line-height: 1.1;

}

.chead > div:last-child {

	justify-content: end;

}

.tog::after {

	content: "min";

}

/* CODE BLOCK FOOTER */

.ctool {

	display: flex;
	/* padding-top: .3em; */

}

.ctool > div {

	padding: 4px;
	flex-basis: 100%;
	display: flex;
	justify-content: center;

}

.ctool > div:first-child {

	justify-content: start;

}

.ctool > div:last-child {

	justify-content: end;

}

.add::after {

	content: "+" attr(lang);

}

.bloc.clps .tog::after {

	content: "show";

}

.bloc.clps div:has(> div.tog) {

	/* visibility: hidden; */
	display: none;

}

.bloc.clps .rem {

	/* visibility: hidden; */
	display: none;

}

.bloc.clps .code {

	display: none;

}

/* keep add btn each bloc to insert between */
.bloc:not(:last-child) .add {

	display: none;

}

.bloc:first-child .rem {

	/* display: none; */

}

.rem {

	display: flex;
	justify-content: space-between;
	gap: 1.3em;

}

.rem.ask .rem-ask {

	display: none;

}

.rem-ask::after {

	content: "del";

}

.rem-yes, 
.rem-no {

	display: none;

}

.rem-yes::after {

	content: "confirm";

}

.rem-no::after {

	content: "cancel";

}

.rem.ask::after {

	display: none;

}

.rem.ask div {

	display: inline;

}

/* language indicator */
/*.lang {

	position: absolute;
	left: 3px;
	bottom: 1px;
	pointer-events: none;
	font-size: 10px;
	line-height: 10px;
	color: #666666;

}

.lang::after {

	content: attr(lang);

}*/

/* code editor */

.cm-editor {

	outline: none !important;
	/* max-height: 500px; */

}

/* SNIPPET */

/* hide snipp.et link */
.snip > div > a {

	display: none;

}

.snip > div > iframe {

	user-select: none;
	-webkit-user-select: none;
	touch-action: pan-y;

}

/* snippet cmds */

.cmds {

	padding-top: .3em;
	padding-bottom: .3em;
	display: flex;
	align-items: center;
	user-select: none;
	
}

.cmd {

	cursor: pointer;
	font-size: 1em;
	/* color: #666666; */

}

.cmds > div {

	padding: 4px;
	flex-basis: 100%;
	display: flex;
	justify-content: center;

}

.cmds > div:first-child {

	justify-content: start;

}

.cmds > div:last-child {

	justify-content: end;

}

.cmds:not(.store) .ver, 
.cmds:not(.store) .del {

	display: none;

}

/* bottom toolbar */
.cmds.down {

	margin-top: 1.7em;

}

.del {

	display: flex;
	justify-content: space-between;
	gap: 1.3em;

}

.del.ask .del-ask {

	display: none;

}

.del-ask::after {

	content: "delete";

}

.del-yes, 
.del-no {

	display: none;

}

.del-yes::after {

	content: "confirm";

}

.del-no::after {

	content: "cancel";

}

.del.ask::after {

	display: none;

}

.del.ask div {

	display: inline;

}

/* menu */

.menu {

	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	z-index: 100;
	white-space: nowrap;
	user-select: none;
	font-size: 22px;

}

.menubtn {

	width: 32px;
	height: 32px;
	min-width: 32px;
	background: linear-gradient(var(--text),var(--text)), linear-gradient(var(--text),var(--text)), linear-gradient(var(--text),var(--text));
	background-position: 50% 25%, 50% 50%, 50% 75%;
	background-size: 60% 2px, 60% 2px, 60% 2px;
	background-repeat: no-repeat;
	transform: rotate(0deg);
	cursor: pointer;

}

.closebtn {

	margin-left: 4px;	
	width: 32px;
	height: 32px;
	/* min-width: 32px; */
	background: linear-gradient(var(--text),var(--text)), linear-gradient(var(--text),var(--text));
	background-position: center;
	background-size: 70% 2px, 2px 70%;
	background-repeat: no-repeat;
	transform: rotate(45deg);
	cursor: pointer;

}

.menumask {

	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	background-color: var(--mask);

}

.menuwrap {

	position: absolute;
	display: flex;
    flex-direction: column;
	width: 100%;
	max-width: 480px;
	height: 100%;
	background-color: var(--over);

}

.menulists {

	flex: 1;
	overflow-y: auto;
	overscroll-behavior: contain;

}

.menulist {

	list-style-type: none;
	margin: 0px;
	padding: 8px;

}

.menulist a {

	text-decoration: none;
	/* line-height: 35px; */
	/* font-size: 22px; */
	color: var(--text);
	/* user-drag: none; */
	-webkit-user-drag: none;

}

.menu.none {

	display: none;

}

.menulist.none {

	display: none;

}

/* ASK  */

.popwrap {

	position: fixed;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	/* color: #666666; */
	background-color: var(--mask);
	font-size: 22px;

}

.popmod {

	/* width: 90%; */
	max-width: 480px;
	box-sizing: border-box;
	padding: 0.6em 0.4em;
	display: flex;
	flex-direction: column;
	gap: 1em;
	justify-content: center;
	align-items: center;
	background-color: var(--back);

}

.popwhat {

}

.asktext {

	font-size: 22px;
	background: none;
	border: none;
	font-family: inherit;
	outline: none;
	min-width: 0;
	text-align: center;
	color: var(--text);
	caret-color: var(--text);

}

.popbtns {

	display: flex;
	gap: 2em;

}

.popbtns div {

	cursor: pointer;

}

.popno::after {

	content: "cancel";

}

.popok::after {

	content: "rename";

}

.popgo::after {

	content: "confirm";

}

::backdrop {

	background-color: var(--back);

}

/* SCROLL BARS */

::-webkit-scrollbar {

	width: 6px;
	height: 6px;
	background-color: #e8e8e8;

}

::-webkit-scrollbar-thumb {

	width: 4px;
	height: 4px;
	background-color: #b8b8b8;

}

::-webkit-scrollbar-button {

	display: none;
	width: 0;
	height: 0;

}

::-webkit-scrollbar-corner {

	background-color: transparent;

}

@media (prefers-color-scheme: dark) {

	/*body {

		background-color: #171717;

	}

	.header {

		background-color: #202020;
		color: #999999;

	}

	.wrap.stick {

		background-color: #171717;
	
	}

	.header > div:not(.spc), 
	.menutools > div, 
	.menulook, 
	.name {

		color: #999999;

	}

	.menu {

		background-color: rgba(0, 0, 0, 0.5);

	}

	.menuwrap {

		background-color: #202020;
	
	}

	.menulist a, 
	.about, 
	.lang, 
	.cmd, 
	.ver {

		color: #999999;

	}

	::backdrop {

		background-color: #171717;

	}*/

	::-webkit-scrollbar {

		background-color: #222222;
	
	}
	
	::-webkit-scrollbar-thumb {
	
		background-color: #444444;
	
	}

}