html {

	height: 100%;

}

body {

	padding: 0;
	margin: 0;

	overflow-y: scroll;

	font-family: monospace, monospace;

	touch-action: none;

	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	text-size-adjust: none;

	background-color: #E6E6E6;

}

.header {

	position: fixed;
	top: 0px;
	width: 100%;
	height: 40px;

	z-index: 50;

	display: flex;
	align-items: center;

	color: #666666;
	background-color: #efefef;

	/* -webkit-user-select: none; */
	user-select: none;

}

.content {

	width: 100%;
	box-sizing: border-box;
	max-width: 900px;
	margin: 0 auto;
	padding: 40px 8px 18px 8px;

}

.snippet-title {

	padding-left: 2px;
	padding-right: 8px;
	color: #666666;
	font-size: 23px;
	background: none;
	border: none;
	font-family: inherit;
	outline: none;
	flex-basis: 100%;
	min-width: 0;
	caret-color: #b8b8b8;

}

.snippet-title:focus {


}

.header > div:not(.spc) {

	margin-right: 12px;

}

.header > div:not(.spc), 
.menutools > div {

	cursor: pointer;
	color: #666666;
	font-size: 22px;
	text-decoration: underline;

}

.header .spc {

	height: 100%;
	flex-basis: 10%;

}

.menutools {

	height: 40px;
	width: 100%;
	max-width: 480px;
	box-sizing: border-box;
	padding-right: 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.create::after {

	content: "new";
	
}

.about::after {

	content: "about";
	/* text-decoration: underline; */
	
}

.save::after {

	content: "save";
	
}

.copy::after {

	content: "copy";
	
}

.share::after {

	content: "share";
	
}

.open::after {

	content: "open";

}

.export::after {

	content: "dump";

}

.import::after {

	content: "load";

}

.yes {

	color: #017e01 !important;

}

.no {

	color: #c51c1c !important;

}

.wrap {

	padding-top: .5em;
	padding-bottom: 1em;

}

.lwrap {

}

.lcode {

}

.ltool {

}

.ltool > div {

	padding: 4px;
	display: inline-block;

}

.code {

	position: relative;
	margin-top: 1em;
	
}

.code pre {

	background-color: #f5f2f0;
		
}

.ctool {

	display: flex;
	justify-content: space-between;

}

.ctool > div {

	padding: 4px;

}

.spc {

	flex: 1;

}

.add::after {

	content: "+" attr(lang);

}

.code:not(:last-child) .add {

	display: none;

}

.code:first-child .rem {

	display: none;

}

.rem {

	display: flex;
	justify-content: space-between;
	gap: 2em;

}

.rem::after {

	content: "remove";

}

.rem div {

	display: none;

}

.rem div:first-child::after {

	content: "confirm";

}

.rem div:last-child::after {

	content: "cancel";

}

.rem.ask::after {

	display: none;

}

.rem.ask div {

	display: inline;

}

/* language indicator */
.lang {

	position: absolute;
	left: 3px;
	bottom: 1px;
	pointer-events: none;
	font-size: 10px;
	line-height: 10px;
	color: #666666;

}

.lang::after {

	content: attr(lang);

}

/* code editor max height */
.prism-live {

	/* max-height: 400px; */
	padding-bottom: 6px !important;

}

pre.prism-live {

	padding-right: 0.5em;

}

textarea.prism-live {

	overflow-x: scroll;
	overflow-y: hidden;

}

.prism-live a {

	color: #666666;

}

/* hide snipp.et link */
.snip > div > a {

	display: none;

}

.snip > div > iframe {

	user-select: none;
	-webkit-user-select: none;

}

/* snippet cmds */

.cmds {

	margin: .6em;
	margin-top: 1.5em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	user-select: none;
	
}

.cmd, 
.ver {

	cursor: pointer;
	font-size: 1em;
	color: #666666;

}

.del {

	display: flex;
	justify-content: space-between;
	gap: 2em;

}

.del::after {

	content: "delete";

}

.del div {

	display: none;

}

.del div:first-child::after {

	content: "confirm";

}

.del div:last-child::after {

	content: "cancel";

}

.del.ask::after {

	display: none;

}

.del.ask div {

	display: inline;

}

/* menu */

.menu {

	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	z-index: 100;
	white-space: nowrap;
	user-select: none;

}

.menubtn {

	margin-left: 4px;	
	width: 32px;
	height: 32px;
	min-width: 32px;
	background: linear-gradient(#888,#888), linear-gradient(#888,#888), linear-gradient(#888,#888);
	background-position: 50% 25%, 50% 50%, 50% 75%;
	background-size: 60% 3px, 60% 3px, 60% 3px;
	background-repeat: no-repeat;
	transform: rotate(0deg);

}

.closebtn {

	margin-left: 4px;	
	width: 32px;
	height: 32px;
	/* min-width: 32px; */
	background: linear-gradient(#888,#888), linear-gradient(#888,#888);
	background-position: center;
	background-size: 70% 3px, 3px 70%;
	background-repeat: no-repeat;
	transform: rotate(45deg);

}

.menuwrap {

	display: flex;
    flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: #efefef;

}

.menulists {

	flex: 1;
	overflow-y: auto;

}

.menulist {

	list-style-type: none;
	margin: 0px;
	padding: 8px;

}

.menulist a, 
.about {

	text-decoration: none;
	/* line-height: 35px; */
	font-size: 22px;
	color: #666666;
	user-drag: none;
	-webkit-user-drag: none;

}

.menu.hide {

	display: none;

}

.menulist.hide {

	display: none;

}

::backdrop {

	background-color: #E6E6E6;

}

/* SCROLL BARS */

::-webkit-scrollbar {

	width: 6px;
	height: 6px;
	background-color: #e8e8e8;

}

::-webkit-scrollbar-thumb {

	width: 4px;
	height: 4px;
	background-color: #b8b8b8;

}

::-webkit-scrollbar-button {

	display: none;
	width: 0;
	height: 0;

}

::-webkit-scrollbar-corner {

	background-color: transparent;

}

@media (prefers-color-scheme: dark) {

	body {

		background-color: #171717;

	}

	.header {

		background-color: #202020;
		/* color: #999999; */

	}

	.header > div:not(.spc), 
	.menutools > div, 
	.snippet-title {

		color: #999999;

	}

	.menuwrap {

		background-color: #202020;
	
	}

	.menulist a, 
	.about, 
	.lang, 
	.cmd, 
	.ver {

		color: #999999;

	}

	.code pre {

		background-color: #454545;

	}

	::backdrop {

		background-color: #171717;

	}

	::-webkit-scrollbar {

		background-color: #222222;
	
	}
	
	::-webkit-scrollbar-thumb {
	
		background-color: #444444;
	
	}

}