H4sIAAAAAAAACo1SwW7bMAz9FwHMyStUGVg3Az403rqh6IAh3nopelAUJlIii54kdwiG/fsg2UmzNQPqgyA+8j0+0dSxszWUjRZQfgzO9P0FRigbEDcZAn4NZdOnpOl6iyD4529f7kDwpm1B8Nt0ZB7GMPL6v2iOQHCpFA0ugmhA8Iwoop3BcIKsZJRLGfCcyLGB4NInDyGSxxUIblxMZEtK2jaSlxscNcmD4N8XyamWQV+ck6UeHQjeoRuSskuC2kQQHMQcBM/SyqOMqadMTvHn83vPSSpr1C6VyCc8uOg9hmRdRW9BzNusf5OAbjXFudPEeYW6H9x/xBf/iC8O4iPlNc71OOKXjx+nqchFaZxxm1SkMUOrF79t6ZON0wb30hlr5W17nO9Xb0KXo7cn0Z3JY1ju0x1T43v0NBxZjaUwZIsNdb2x6A/Vn4g2eUXHwlbmyeTUaHRCIspupkKol7RKSbiaJ5v8/ZpcfLOWnbF7KK/TapCj0Es1LdVzWE4MRZb8WAuifJe/KXn1YbYN9czU9seT7sLlehZruaQhznz9iznZIavYNrCCxX2f7n5wrGAazUZHVrHLkhUsOWRV9AMWTJELZJFVa2kDFsy4gD4ew21g1cNjwVSYLta4HasemI6dZSP++PsPoQZIcPEDAAA=